In [ ]:
import sys
sys.path.insert(0,'/content/drive/My Drive')

In [ ]:
import psycopg2
import pandas as pd
import config

In [ ]:
!curl ipecho.net/plain

In [ ]:
config.user

In [ ]:
# Connect to the database
conn = psycopg2.connect(
    host = config.ip_add,
    port = 5432,
    user = config.user,
    password = config.password,
    database = 'codelou_postgres'
)
conn.autocommit = True
# Create a cursor
cursor = conn.cursor()

In [ ]:
query = """SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'imdb'"""

cursor.execute(query)

results = cursor.fetchall()

for table in results:
    print(table)

In [ ]:
query = "CREATE TABLE imdb.actors (aconst integer PRIMARY KEY, name varchar, birthdate varchar);"
cursor.execute(query)

In [ ]:
query = """SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'imdb'"""

cursor.execute(query)

results = cursor.fetchall()

for table in results:
    print(table)

In [ ]:
values = [(1, 'Ian', "1/11/1988"), (2, 'Sam', "7/8/1982"), (3, 'Lisa', "12/03/1919")]

query = """INSERT INTO imdb.actors (aconst, name, birthdate)
VALUES (%s,%s,%s);"""

cursor.executemany(query, values)

In [ ]:
query = """SELECT * FROM imdb.actors"""

cursor.execute(query)

results = cursor.fetchall()

for table in results:
    print(table)

In [ ]:
query = '''SELECT * FROM imdb.title
           ORDER BY tconst ASC LIMIT 10
         '''
# Execute a SELECT statement
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

In [ ]:
# Iterate through the results and print them
for row in results:
    print(row)

In [ ]:
#change table to get ratings
query = '''SELECT * FROM imdb.ratings
           ORDER BY tconst ASC LIMIT 10
         '''
# Execute a SELECT statement
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

In [ ]:
# Iterate through the results and print them
for row in results:
    print(row)

In [ ]:
#change table to get ratings
query = '''SELECT * FROM imdb.ratings AS ratings
           LEFT JOIN imdb.title AS title ON title.tconst = ratings.tconst
           WHERE title.startyear = 1988
           ORDER BY ratings.averagerating DESC
         '''

In [ ]:
df = pd.read_sql_query(query,con=conn)

In [ ]:
df.head()

In [ ]:
print(f"The dataframe has {df.shape[0]} rows and {df.shape[1]} columns")

In [ ]:
query = """SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'imdb'"""

In [ ]:
# Close the connection
conn.close()